

#navv {
    background-color: #0c5c82;
    border-color: #e7e7e7;

} 
#navv #navvv>li>a {
    color: #e7e7e7;
    font-weight: bold;
    font-size:20px;
    font-family: 'Arial Unicode MS';
   
}
#navv #navvv>li>a:hover {
    color: #fff;
}
#navv #navvv>li>a:active {
    color: #fff;
}
.nav>li {
    position: relative;
    display: block;
    height: 70px;
    padding-top: 10px;
}

#myfooter{
    background-color:cornflowerblue;
    padding-top:10px;
    font-family:sans-serif;
    text-align:justify;

}
#myfooter h3{
    text-align:left;
    margin-bottom:20px;
}
#sub{
    background-color: darkblue;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #e7e7e7;

}

#myfooter a{
    color:#e7e7e7;
    font-weight:bold;


}
#myfooter ul{
    text-align:left;
    list-style-type:none;

}
.logosize{
    width:120px;
    height:60px;
    margin-top:-18px;
}
#cont{
	    padding-top: 50px
}
